@import "tailwindcss";
/* @source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php'; */

.section:nth-of-type(1) {
    background: linear-gradient(45deg, #0b0f2a, #034b41, #055724);
}

.btn-outlined{
    @apply  border-2 border-white rounded-md md:px-4 py-2 md:text-base text-sm px-2 cursor-pointer hover:bg-white hover:text-lime-800 flex items-center justify-center;
}
.btn-white{
    @apply  text-white bg-(--primary) rounded-md md:px-4 py-2 md:text-base text-sm px-2  cursor-pointer hover:bg-(--light-primary) flex items-center justify-center;
}